doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.14/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js')
  body
    block content
